<nav class="navbar navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li><a href="#" ui-sref="home" id="navbar-icon" class="navbar-brand"><i class="fa fa-home"></i></a></li>
      <li><a href="#" ui-sref="worlds" ng-show="user"  id="navbar-icon" title="Worlds"><i class="fa fa-globe"></i></a></li>
      <li><a href="#" ng-click="reset()" ng-show="user"  id="navbar-icon" ui-sref="builder" title="Builder"><i class="fa fa-wrench"></i></a></li>
      <li><a href="#" ui-sref="multiplayer" ng-show="user" id="navbar-icon"  title="Multiplayer"><i class="fa fa-users"></i></a></li>
      <li><a href="#" ui-sref="creatures.select" ng-show="user"  id="navbar-icon" title="Creatures"><i class="fa fa-qq"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="" ng-hide="user" ui-sref="home.login" title="Login"><i class="fa fa-sign-in"></i></a></li>
      <li><a href="" ng-show="user">{{user.name.first}} {{user.name.last}}</a></li>
      <li><a href="#" ng-show="user" id="navbar-icon"  ng-click="logout()" title="Logout"><i class="fa fa-sign-out"></i></a></li>
    </ul>
  </div>
</nav>