#instructions {
	margin-top: 5%;
	margin-right: 5%;
	opacity: 0.4;
	width: 40%;
	height: 100%;
	position: absolute;

	.fui-cross {
		vertical-align: text-top;
		float: right;

		&:hover{
			cursor: pointer;
			color: #660000;
		}
	}

	&:hover {
		opacity: 0.8;
	}
}

#icon-pic {
	max-height: 2em;
}

#icon-button:active{
	background-color: #1abc9c
}

.tile {
	background-color: #34495e;
	color: white;

	> * {
		text-align: left;
		padding-top: 0;
		margin-bottom: 0 !important;
		margin-left: 0;
		margin-top: 0;
	}

	ul{
		list-style-type: none;
		padding-left: 0;
		li {
			text-align: left;
			text-decoration: none;
		}
	}

	span{
		margin-right: 5%;
	}

	.btn-group {
		width: 100%;
		p {
			margin-bottom: 0;
		}
		button {
			width: 33%;
			height: 100%;
			margin: 3%;
			margin-left: 1%;
			margin-right: 1%;
			&:hover{
				cursor: pointer;
			}
			#creature {
				display: inline;
			}

			.btn-danger {
				width: 100%;
			}

			.btn-success {
				width: 100%;
			}
		}
	}

	.progress {
		margin-bottom: 10%;
		margin-right: 5%;
	}

}
