<div id="instructions">
  <div class="tile">
    <span class='fui-cross' ng-hide='controlHide()'></span>
    <p>Hello, {{user.name.first}}!<p>
    <p>Welcome to {{world.name}}!</p>
    <p>Your Points: {{points}}</p>
    <hr>
    <div class="row creature-container">
        <div class="btn-group">
          <p>My Creatures<p>
          <ul>
            <li ng-hide="!!creatures">You have no creatures!</li>
            <li ng-show="!!creatures" ng-repeat="creature in creatures"><button class="btn btn-default" id="creatures" ng-click="statsShow()">{{creature.name}}</button><creature-stats ng-show="stats"></creature-stats></li>
          </ul>
        </div>
    </div>
  </div>  
</div>