<div id="instructions">
    <div class="tile drag-and-resize">
        <p>Hello, {{user.name.first}}!
            <p>
                <p>Welcome to {{world.name}}!</p>
                <p>Your Points: {{user.points}}</p>
                <hr>
                <div class="row">
                    <p style="margin:0;">Game Settings</p>
                    <a id="icon-button" class="btn btn-inverse " ng-click="slowDown()"><i id="settings-icon"  class="fa fa-backward"></i></a>
                    <a id="icon-button" class="btn btn-inverse " ng-hide="paused" ng-click="pause(); paused = true;"><i id="settings-icon"  class="fa fa-pause"></i></a>
                    <a id="icon-button" class="btn btn-inverse " ng-show="paused" ng-click="play(); paused=false"><i id="settings-icon"  class="fa fa-play"></i></a>
                    <a id="icon-button" class="btn btn-inverse" ng-click="speedUp()"><i id="settings-icon"  class="fa fa-forward"></i></a>
                    <a id="icon-button" class="btn btn-inverse" ng-click="save()"><i id="settings-icon"  class="fa fa-save"></i></a>
                </div>
                <div class="row">
                    <p style="margin:0;">Actions</p>
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='grass', 'btn-primary': selected==='grass'}" id="icon-button" ng-click="selected= selected=='grass' ? null : 'grass'"><img class="img-responsive" id="icon-pic" ng-src="3D-Grass-icon.png" /></a>
                    <!-- <a class="btn" href="#" ng-class="{'btn-inverse ': !snowClicked, 'btn-primary': snowClicked}" id="icon-button" ng-click="snowClicked"><img class="img-responsive" id="icon-pic" ng-src="3D-Snow-icon.png" /></a>
 -->
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='dirt', 'btn-primary': selected==='dirt'}" id="icon-button" ng-click="selected= selected=='dirt' ? null : 'dirt'"><img class="img-responsive" id="icon-pic" ng-src="3D-Dirt-icon.png" /></a>
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='tree', 'btn-primary': selected==='tree'}" id="icon-button" ng-click="selected= selected=='tree' ? null : 'tree'"><img class="img-responsive" id="icon-pic" ng-src="3D-Tree-icon.png" /></a>
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='shovel', 'btn-primary': selected==='shovel'}" id="icon-button" ng-click="selected= selected=='shovel' ? null : 'shovel'"><img class="img-responsive" id="icon-pic" ng-src="Stone-Hoe-icon.png" /></a>
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='food', 'btn-primary': selected==='food'}" id="icon-button" ng-click="selected= selected=='food' ? null : 'food'"><img class="img-responsive" id="icon-pic" ng-src="food.png" /></a>
                    <a class="btn" href="#" ng-class="{'btn-inverse ': !selected==='info', 'btn-primary': selected==='info'}" id="icon-button" ng-click="info()"><i id="settings-icon"  class="fa fa-info-circle"></i></a>
                </div>
    </div>
</div>

<div id="sideinfo">
    <div class="row creature-container">
        <creatures-list><creatures-list>
    </div>
     <div class="row creature-container">
        <creature-stats></creature-stats>
    </div>
</div>