* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#control-bar {
opacity: 0.1;
transition: 0.4s ease all;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

#control-bar:hover{
  opacity:0.8;
}

#stats {
  opacity: 0;

  &:hover{
    opacity: 0.9;
  }
}
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Add your fractal Sass files below!
@import "animate";
@import 'navbar/navbar';
@import 'home/home';
@import 'login/login';
@import 'common/directives/control-panel/control-panel';
@import 'common/directives/progress-bar/progress-bar';
@import 'builder/builder';
@import 'creatures/creatures';
