* {
    box-sizing: border-box;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.carousel-control {
    margin-top: auto;
    margin-bottom: auto;
}

#stats {
    opacity: 0;
    &:hover {
        opacity: 0.9;
    }
}

#env-icon {
    height: 4em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

#env-btn {
    padding-right: 0.3em;
    padding-left: 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    &:hover,{
        transition: all 0.4s ease;
        transform:scale(1.1);
        background: #18bc9c;
        border-color: #18bc9c;
    }

    &:active,&:focus{
        background: #18bc9c;
        border-color: #18bc9c;
    }
}

#level-icon {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    width: 50%
}


#edit-icon {
    position: absolute;
    width: 40%;
    right: 0;
    size: 2em;
    color: #34495e;
    &:hover {
        transition: all 0.4s ease;
        transform: scale(1.5);
        color: #18bc9c;
    }
}

#delete-icon {
    position: absolute;
    width: 40%;
    right: 0;
    top: 30px;
    size: 2em;
    color: #34495e;
    &:hover {
        transition: all 0.4s ease;
        transform: scale(1.5);
        color: #18bc9c;
    }
}


.grayscale {
    filter: grayscale(100%);
    /* Current draft standard */
    -webkit-filter: grayscale(100%);
    /* New WebKit */
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

#level-num {
    position: absolute;
    color: white;
    // font-size:2em;
    width: 50%;
    bottom: 5%;
    left: 25%;
}

#check-mark {
    position: absolute;
    display: inline;
    right: 21%;
    top: 9%;
    font-size: 4em;
}

.strike {
    text-decoration: line-through;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.info {
    background-color: #1ABC9C;
    border-radius: 5px;
    opacity: 0.8;
    color: white;
    height: 100%;

    .img-container{
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 3%;
    }
}

// Add your fractal Sass files below!
@import 'flat-ui/flat-ui';
@import "animate";
@import 'navbar/navbar';
@import 'home/home';
@import 'common/directives/control-panel/control-panel';
@import 'common/directives/game-of-life/gameoflife';
@import 'builder/builder';
@import 'creatures/creatures';

