* {
  box-sizing: border-box;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#control-bar {
opacity: 0.1;
transition: 0.4s ease all;
    position: absolute;
    bottom: 10px;
    right: 6%;
}

#control-bar:hover{
  opacity:0.8;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

// Add your fractal Sass files below!
@import 'navbar/navbar';
@import 'home/home';
@import 'login/login';
@import 'common/directives/control-panel/control-panel';
@import 'builder/builder';
