<div style="width: {{width}}px; margin: auto">
  <div style="width: 100%; height: {{height}}px">
    <carousel ng-show="file" style="height: 100%" interval="myInterval" no-wrap="noWrapSlides">
    <slide style="height: {{height}}px;"
      ng-repeat="array in creatures">

      <img ng-click="fcn(creature)" id="creature-png" ng-repeat="creature in array" style="height: 100%; display: inline; margin: auto" ng-src="{{creature.name+'.png'}}"></img>

    </slide>

    </carousel>

    <carousel ng-hide="file" style="height: 100%" interval="myInterval" no-wrap="noWrapSlides">

    <slide style="height: {{height}}px;"
      ng-repeat="array in creatures">

      <img ng-click="fcn(creature)" id="creature-png" ng-repeat="creature in array" style="height: 100%; display: inline; margin: auto" ng-src="{{creature.img}}"></img>

    </slide>

    </carousel>
  </div>
</div>
