<div id="instructions">
  <div class="tile">
    <span class='fui-cross' ng-click="controlHide()"></span>
    <p>Hello, {{currentUser}}!<p>
    <p> Welcome to {{worldName}}!</p>
    <p>Your Points: {{points}}</p>
    <hr>
    <div class="row creature-container">
        <div class="btn-group">
          <button class ="btn btn-default" ng-click="getCreatures()">Creatures<span class="caret"></span></button>
          <ul>
            <li ng-show="!!creatures" ng-repeat="creature in creatures"><button class="btn btn-default" id="creatures" ng-click="statsShow()">{{creature.name}}</button><creature-stats ng-show="stats"></creature-stats></li>
          </ul>
        </div>
    </div>
  </div>  
</div>