#instructions {
	margin-top: 5%;
	width: 25%;
	height: 100%;
	position: absolute;
}

.tile {
	> * {
		text-align: left;
		padding-top: 0;
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
	}

	ul{ 
		list-style-type: none;
		padding-left: 0;
		li {
			text-align: left;
			text-decoration: none;
		}
	}

	.progress {
		margin-bottom: 10%;
	}
}
