

<control-panel></control-panel>

    <div id="container"></div>

<script type="text/ng-template" id="game-over.html">
    <div class="modal-header">
      <h3 class="modal-title"> GAME OVER!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>All your creatures have died!</p>
      <div class="modal-footer">
        <a class="btn btn-success" ng-click="toWorlds()">Back to My Worlds</a>
        <a class="btn btn-warning" ng-click="toHome()">Back to Home</a>
      </div>
    </form>
</script>

<script type="text/ng-template" id="objective.html">
    <div class="modal-header">
      <h3 class="modal-title"> Objective Completed!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>You have completed your objective! Have some points!</p>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Continue</button>
        <button class="btn btn-warning" ng-click="toHome()">Back to Home</button>
      </div>
    </form>
</script>

<script type="text/ng-template" id="level-up.html">
    <div class="modal-header">
      <h3 class="modal-title"> You have levelled up!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>Congratulations You are travelling to the next level!</p>
      	<p>Also...have some points!</p>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="toWorlds()">Back to My Worlds</button>
        <button class="btn btn-warning" ng-click="toHome()">Back to Home</button>
      </div>
    </form>
</script>


<script src="../js/voxel-engine.js"></script>
<script src="../js/voxel.js"></script>
<script src="../js/voxel-mesh.js"></script>
<script src="../js/sky.js"></script>
<script src="../js/start.js"></script>
<script src="../js/highlight.js"></script>
<script src="../js/tree.js"></script>
<script src="../js/util.js"></script>
<script src="../js/event-emitter.js"></script>
<script src="../js/clouds.js"></script>
<script src="../js/voxel-snow.js"></script>
</body>