

<control-panel></control-panel>

    <div id="container"></div>

<script type="text/ng-template" id="game-over.html">
    <div class="modal-header">
      <h3 class="modal-title"> GAME OVER!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>All your creatures have died!</p>
      <div class="modal-footer">
        <a class="btn btn-success" ng-click="toWorlds()">Back to My Worlds</a>
        <a class="btn btn-warning" ng-click="toHome()">Back to Home</a>
      </div>
</script>

<script type="text/ng-template" id="objective.html">
  <confetti></confetti>
    <div class="modal-header">
      <h3 class="modal-title"> Objective Completed!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>You have completed your objective! Have some points!</p>
      <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Continue</button>
        <button class="btn btn-warning" ng-click="toHome()">Back to Home</button>
      </div>
</script>

<script type="text/ng-template" id="level-up.html">
  <confetti></confetti>
    <div class="modal-header">
      <h3 class="modal-title"> You have levelled up!</h3>
    </div>
      <div class="modal-body" style="margin: auto; width: 450px">
      	<p>Congratulations You are travelling to the next level!</p>
      	<p>Also...have some points!</p>
      <div class="modal-footer">
        <button class="btn btn-success" ng-click="toWorlds()">Back to My Worlds</button>
        <button class="btn btn-warning" ng-click="toHome()">Back to Home</button>
      </div>
</script>

<script type="text/ng-template" id="info.html">
    <div class="info">
    <div class="modal-header">
      <h3 class="modal-title text-center"><i class="fa fa-qq animated infinite pulse" id="lil-creature"></i> EVOX <i class="fa fa-qq animated infinite pulse" id="lil-creature"></i></h3>
    </div>
      <div class="modal-body" style="margin: 5%; width: 90%">
        <h3 class="text-center">Welcome to Your World!</h3> 
        <hr>
        <p>You can interact with the world using the control panel on 
        the right of the screen!</p>
        <p>Use the setting buttons to control gameplay!</p>
        <div class="img-container col-lg-6">
          <i id="settings-icon"  class="fa fa-backward"></i> Slow down time.
        </div>
          <div class="img-container col-lg-6">
          <i id="settings-icon"  class="fa fa-forward"></i> Speed up time.
        </div>
        <div class="img-container col-lg-6">
            <i id="settings-icon"  class="fa fa-pause"></i> Pause the game.
        </div>
        <div class="img-container col-lg-6">
          <i id="settings-icon"  class="fa fa-play"></i> Resume the game.
        </div>
        <div class="img-container col-lg-12">
          <i id="settings-icon"  class="fa fa-save"></i> Save your game.
        </div>
        <h4 class=text-center>land and food icons modify your environment!</h4>
        <div class="img-container col-lg-6">
            <img class="img-responsive" id="icon-pic" ng-src="3D-Grass-icon.png"/>
            Spawn Grass
        </div>
        <div class="img-container col-lg-6">
            <img class="img-responsive" id="icon-pic" ng-src="3D-Dirt-icon.png"/>
            Remove Grass
        </div>
        <div class="img-container col-lg-6">
            <img class="img-responsive" id="icon-pic" ng-src="Stone-Hoe-icon.png"/>
            Remove a block.
        </div>
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="food.png"/>
          Feeder critters!
        </div>
        <div class='img-container col-lg-12'>
          <i id="settings-icon"  class="fa fa-info-circle" style="display:block;"></i>Get game info
        </div>
        <p>Click on a creature to get their stats. Remember to feed them if they are hungry!</p>
        <h4>Icons above a creature indicate their current behavior.</h4> 
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="textures/look.png"/>
          Searching for food.
        </div>
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="textures/eating.png"/>
          A creature is eating.
        </div>
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="textures/herd.png"/>
          Searching for other animals to herd with.
        </div>
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="textures/dead.png"/>
          The animal has died! :(
        </div>
        <div class='img-container col-lg-6'>
          <img class="img-responsive" id="icon-pic" ng-src="textures/love.png"/>
          If animals are healthy and the timing is right, animals will procreate!
        </div>

      <div class="modal-footer">
        <button class="btn btn-success pull-left" ng-click="close()">Back to Game</button>
        <button style="margin-top:0;" class="btn btn-danger" ng-click="toWorlds()">Exit to My Worlds</button>
      </div>
    </div>
</script>


<script src="../js/voxel-engine.js"></script>
<script src="../js/voxel.js"></script>
<script src="../js/voxel-mesh.js"></script>
<script src="../js/sky.js"></script>
<script src="../js/start.js"></script>
<script src="../js/highlight.js"></script>
<script src="../js/tree.js"></script>
<script src="../js/util.js"></script>
<script src="../js/event-emitter.js"></script>
<script src="../js/clouds.js"></script>
<script src="../js/voxel-snow.js"></script>
</body>