.container {
	.login {
		border-radius: 10px;
		background: none;
		background-color: #34495e;
		width: 50%;
		margin: 0 auto;

		button {
			color: #34495e;
			background-color: #fff;
			border: 5px gainsboro;
			font-weight: 700;
			&:hover {
				cursor: pointer;
			}
		}
	}
}